@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: rgb(197, 193, 193);
  font-family: "Overpass", sans-serif;
}
.logo {
  font-size: 2rem;
  color: rgba(228, 64, 4, 0.767);
  font-weight: bold;
}
.input-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 35%;
  margin: 0 auto;
  margin-top: 3rem;
}
.input {
  padding: 10px 5px;
  border: 1px solid rgba(228, 64, 4, 0.767);
  margin-right: 1%;
}
.add {
  padding: 8px 1rem;
  background-color: rgba(228, 64, 4, 0.767);
  text-align: center;
  cursor: pointer;
}
.list-container {
  width: 100%;
  margin-top: 2rem;
}
li {
  width: 35%;
  margin: 0 auto;
  border: 1px solid rgba(228, 64, 4, 0.767);
  border-top: unset;
  padding: 5px 0.8rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  font-size: 1rem;
}
.item {
  margin-left: 1rem;
}

.total {
  width: 35%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.total span {
  padding: 0.4rem 0.9rem;
  background-color: rgba(228, 64, 4, 0.767);
  font-weight: bold;
  /* color: rgb(48, 47, 47); */
  color: #ffffff;
}
.add-item{
  color: rgb(228, 64, 4);
}
.add-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gotten {
  text-decoration: line-through;
}
.cancel{
  cursor: pointer;
}


@media screen and (max-width :760px) {
  .input-todo, .total, li{
    width: 75%;
    margin-left:  auto;
    margin-right:  auto;
  }
  header{
    width: 100%;
  }
}
@media screen and (max-width :500px) {
  .input-todo, .total, li{
    width: 95%;
    margin-left:  auto;
    margin-right:  auto;
  }
  header{
    width: 100%;
  }
  input{
    width: 40%

  }
}